.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}

.app-header__logo, .app-footer__pie{
	font-family: monospace;
}
.app-sidebar__toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
}
.app-sidebar__toggle::before{
	display: none;
}
.headerRegister, .header-primary{
	background: #c38a9e;
	color: #FFF;
}
.headerUpdate{
	background: #007bff;
	color: #FFF;
}

.textcenter{
	text-align: center;
}

.textright{
	text-align: right;
}

.textleft{
	text-align: left;
}

.bootstrap-select > .dropdown-toggle{
	border: 1px solid #CCC;
}

.logo_login{
	font-family: monospace;
}

.stext-107{
	/* text-align: center; */
}

.nav-link{
	color: #495057;
}

.nav-link:hover {
	color: #252525;
}

/*Estilos login*/
#divLoading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}

#divLoading img{
	width: 50px;
	height: 50px;
}

.required{
	color: red;
	font-size: 13pt;
	font-weight: bold;
}

/* style portada categoría */
.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/portada_categoria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notblock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}

/*Estilos para modal categoria*/
#imgCategoria{
	text-align: center;
}
#imgCategoria img{
	width: 200px;
	margin: auto;
}

/* Upload fotos*/
#containerImages{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
#containerImages > div{
	margin-right: 10px;
	margin-bottom: 8px;
}
.prevImage{
	border: 1px solid #CCC;
	width: 120px;
	height: 148px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.prevImage img{
	width: 100%;
}
.inputUploadfile{
	display: none;
}
.btnUploadfile, .btnDeleteImage{
	border: 0;
	background-color: #009688;
	text-align: center;
	padding: 2px 3px;
	color: #FFF;
	font-size: 9pt;
	cursor: pointer;
	width: 100%;
}
.btnDeleteImage{
	background-color: #dc3545;
}
.prevImage .loading{
	width: 30px;
	height: 30px;
}
#celFotos img{
	width: 150px;
	margin: 10px;
}

/* TIENDA VIRTUAL */
.divmetodpago label, #divCondiciones {
	width: 100%;
	display: flex;
}

.divmetodpago label input, #divCondiciones input {
	margin-right: 15px;
}

#divCondiciones a{
	margin-left: 5px;
}

#divCondiciones  label{
	margin-bottom: 0;
}

/* WIDGETS */
.widget-small {
	transition: all 300ms;
}
.widget-small:hover{
	transform: translateY(-10px);
}
.linkw:hover{
	text-decoration: none;
}

/* ESTILOS DATA PICKER */
.container-title{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container-title input{
	border: 1px solid #CCC;
	padding: 4px;
	border-radius: 5px;
	margin-right: 5px;
}

.dflex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ui-datepicker-calendar {
    display: none;
}

/* CARRITO VACIO */
.cart-empty-icon {
	text-align: center;
	margin-bottom: 60px;
	font-size: 100px;
}

.cart-empty {
	font-size: 24px;
	color: #252525;
	font-weight: 600;
	text-align: center;
}

.return-to-shop {
	text-align: center;
	margin-top: 30px;
}

.return-to-shop a{
	text-decoration: none;
	background: #ce5b7c;
	color: #fff;
	padding: 12px 24px;
	display: inline-block;
	border-radius: 25px;
	font-size: 14px;
	text-transform: uppercase;
	transition: 0.4s;
}

.return-to-shop a:hover {
	background: #fd79a8;
}

.modal-body ul li{
	list-style: initial;
	margin-left: 20px;
}

/* CATEGORIA HOMBRE VACIO */
.man-empty-icon {
	text-align: center;
	margin-bottom: 10px;
	font-size: 60px;
}

.man-empty-icon p {
	font-size: 20px;
	color: #252525;
	text-align: center;
}
